{
  "presets": [
    ["env", {
      "modules": false
    }],
    "stage-2"
  ],
  "plugins": [
    "transform-vue-jsx", 
    "transform-runtime"{{#if_eq uilib "mint"}}, 
    [
      "component", 
      [
        {
          "libraryName": "mint-ui",
          "style": true
        }
      ]
    ]{{/if_eq}}{{#if_eq uilib "element"}}{{#if_eq elementImport "demand"}}, 
    [
      "component", 
      [
        {
          "libraryName": "element-ui",
          "styleLibraryName": "theme-chalk"
        }
      ]
    ]{{/if_eq}}{{/if_eq}}{{#topmobi}},
    ["import", {
      "libraryName": "topmobi"
    }]{{/topmobi}}
  ]{{#if_or unit e2e}},
  "env": {
    "test": {
      "presets": ["env", "stage-2"]{{#if_eq runner "karma"}},
      "plugins": ["transform-vue-jsx", "istanbul"]{{/if_eq}}{{#if_eq runner "jest"}},
      "plugins": ["transform-vue-jsx", "transform-es2015-modules-commonjs", "dynamic-import-node"]{{/if_eq}}
    }
  }{{/if_or}}
}
